# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
*.local

* copy.js
* copy.json
* copy *.js
* copy *.json

.env.production
.env.development